.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .navbar{
    background-color: #ffbf6d1f;
  }
  .navbar-collapse{
    justify-content: center;
    margin-top: 56px;
  }
  .navbar-nav{
    margin-right: 200px;
  }
  
  .cart{
    margin-top: 50px;
  }
  .badge{
    margin-top: 65px;
    margin-left: 20px;
  }