.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .navbar{
    background-color: #ffc10766;
  }
  .navbar-collapse{
    justify-content: center;
    margin-top: 56px;
  }
  .navbar-nav{
    margin-right: 200px;
  }
  
  .cart{
    margin-top: 50px;
  }
  .badge{
    margin-top: 65px;
    margin-left: 20px;
  }

  .shadow-lg-a {
    box-shadow: 0 1rem 3rem!important;
    color: #44444416;
  }

.brand{
      color: #ff5075;
    font-style: normal;
    font-weight: 800;
    padding-top: 56px;
    /* margin-right: -57px; */
    margin-left: -31px;
}

.nav-link{
  color: #ff5075;

}

nav.navbar.navbar-expand-lg.shadow-lg-a.p-3.mb-5.rounded.navbar-dark.bg-dark.border-bottom {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

nav.navbar.navbar-expand-lg.shadow-lg-a.p-3.mb-5.rounded.navbar-dark.bg-dark.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) #664d03!important;
}
